{% extends "templete.html" %}


{% block content %}
    <div class="container" >
        <h1>添加货物</h1>
                <div>
                 &nbsp; &nbsp; &nbsp; &nbsp;<label>航次</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <div style="display: inline">{{ hangci }}</div>
            </div>
        <form method="POST">
            {% csrf_token %}
            {% for  pcargo in  pcargolist %}
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">{{ pcargo.label }}</label>
                   <div class="col-md-9" style="position: relative;">{{ pcargo }}</div>
                </div>
            {% endfor %}

            <div class="col-md-2 col-md-offset-10">
                <input type="submit" value="提交" class="btn-primary">
            </div>
        </form>
    </div>
{% endblock %}
