{% extends "templete.html" %}


    <div class="content-wrapper">
        <!--内容-->
    {% block content %}

        {# 船只信息#}
        <section class="content-header">
            <h1>航次信息</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 航次列表</a></li>
                <li class="active">航次列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent"   >
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">航次列表 &nbsp;&nbsp;&nbsp;&nbsp; <a class="label label-success" href="/pship_add/">添加航次</a></h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="请输入关键字...">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>编号</th>
                                    <th>船舶名</th>
                                    <th>航次</th>
                                    <th>载重吨</th>
                                    <th>舱容</th>
                                    <th>默认航速</th>
                                </tr>
                                 {% for p_ship in pship_list %}
                                <tr>

                                    <td>{{ p_ship.id }}</td>
                                    <td>{{ p_ship.Pship_name }}</td>

                                    <td><a class="label label-primary" href="/hangcheng/{{ p_ship.id }}">{{ p_ship.Pship_number }}</a></td>
                                    <td>{{ p_ship.Pship_load }}</td>
                                    <td>{{ p_ship.Pship_hovel }}</td>
                                    <td>{{ p_ship.Pship_speed }}</td>
                                    <td>
                                        <a class="label label-default" href="/pship_edit/{{ p_ship.id }}">编辑</a>
                                        &nbsp;
                                        <a class="label label-danger" href="/pship_del/{{ p_ship.id }}">删除</a>
{#                                         &nbsp;#}
{#                                        <a class="label label-danger" href="/pship_add/">添加航次</a>#}
                                         &nbsp;
                                        <a class="label label-warning" href="/hangcheng/{{ p_ship.id }}">港口信息</a>
                                        &nbsp;
                                        <a class="label label-success" href="/cost_budget/{{ p_ship.id }}">燃油信息</a>
                                        &nbsp;
                                        <a class="label label-success" href="/budget_result/{{ p_ship.id }}">货物信息</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">首页</a></li>
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">下一页</a></li>
                                <li><a href="#">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--内容-->
    </div>
    {% endblock %}
