{% extends "templete.html" %}


{% block content %}
    <div class="container" >
        <h1>航次信息</h1>
     <div class="col-md-12">
         <p style="color: red">{{ pship_errors }}</p>
     </div>
        <form method="POST">
            {% csrf_token %}
{#            {{ pship_list.as_p }}#}
            {% for  pship in  pship_list %}
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">{{ pship.label }}</label>
                   <div class="col-md-9" style="position: relative;">{{ pship }}</div>
                </div>
            {% endfor %}

            <div class="col-md-2 col-md-offset-10">
                <input type="submit" value="提交" class="btn-primary">
            </div>
        </form>
    </div>
{% endblock %}
