<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>船舶信息:</h2>
    {{ pship_form }}
    <button type="button">保存</button>

    <br><br>
    <h2>港口实体:</h2>
    {{ pport_Form }}
    <button type="button">保存</button>

    <br><br>
    <h2>计算航程信息:</h2>
    {{ pship_Pport_Form }}
    <button type="button">保存</button>

    <br><br>
    <h2>燃油费及租金:</h2>
    {{ fuel_rent_Form }}
    <button type="button">保存</button>

    <br><br>
    <h2>成本预算结果:</h2>
    {{ cost_result_Form }}
    <button type="button">保存</button>

    <br><br>
    <h2>运费收益:</h2>
    {{ pcargo_Form }}
    <button type="button">保存</button>

    <br><br>
    <h2>预算结果:</h2>
    {{ budget_result_Form }}
    <button type="button">保存</button>

</body>
</html>